* {
    box-sizing: border-box;
}

body {
    background: url("bckgrd.jpg") no-repeat;
    background-position: 50% 100%;
}

ul {
    list-style: none;
    margin-top: -1%;
}

#allowMessage {
    margin-top: 5%;
    margin-left: 51.5%;
}

input[type=number] {
    width: 15%;
}

#welcomeMessage {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 25%;
}

#blockers {
    display: flex;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#applications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted;
    border-radius: 2%;
    justify-content: space-around;
    padding: 10px;
}

#websites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px dotted;
    border-radius: 2%;
    padding: 10px;
    margin-left: 2.5%;
}

#name {
    display: inline-block;
    width: 80px;
}

li div {
    margin: 10px;
}

#websites textarea {
    margin-top: 10px;
    margin-bottom: 5px;
}

.saveButton {
    background-color: blue;
    color: white;
    border-radius: 0px;
    margin: 0 auto;
    width: 65px;
}

.loadButton {
    background-color: #009999;
    color: white;
    border-radius: 0px;
    margin: 0 auto;
}

#websites .saveButton {
    margin-bottom: -2px;
}

.success {
    color: green;
}

.centered {
    margin: 0 auto;
    margin-top: 2.5%;
}

footer {
    position: absolute;
    bottom: 3px;
    left: 40%;
    width: 30%;
}