* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

#app {

}

#welcomeMessage {
    margin: 0 auto;
    width: 25%;
}

#blockers {
    display: flex;
    justify-content: center;
}

#applications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted;
    border-radius: 2%;
    padding: 10px;
    justify-content: space-around;
}

#websites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted;
    border-radius: 2%;
    padding: 10px;
    width: 30%;
    justify-content: space-around;
}

#websites textarea {
    margin-top: 10px;
    margin-bottom: 5px;
}

.saveButton {
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 20%;
}